/HW3/HW4.X/build/default/
/HW3/HW4.X/dist/default/
/HW3/HW4.X/nbproject/private/
/HW5/HW5.X/nbproject/private/
/HW5/HW5.X/build/default/
/HW8/cdc_serial_emulator_hw8/firmware/cdc_serial_emulator.X/build/pic32mx795_pim_e16_int_dyn/
/HW8/cdc_serial_emulator_hw8/firmware/cdc_serial_emulator.X/dist/pic32mx795_pim_e16_int_dyn/
/HW8/cdc_serial_emulator_hw8/firmware/cdc_serial_emulator.X/nbproject/private/